.navbar-brand img{
    width: 50px !important;
    height auto;
}

.jumbotron {
    background-image: url(../images/cupcakes-light.jpg);
    height: 100vh !important;
    width: auto;
    text-align: center;
    padding-top: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
}

.container {
    padding-top: 50px !important;
}

.standard {
    background-color: #007bff;
}

.standard a {
    color: white !important;
}

.start {
    background-image: url(../images/ingredients.jpg);
    height: 100vh;
    width: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.start h1 {
    color: white;
}

.tips {
    background-image: url(../images/tips.jpg);
    height: 100vh;
    width: auto;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

