.navbar-brand img{
    width: 50px !important;
    height auto !important;
}

.jumbotron {
    background-image: url(../images/cupcakes.jpg);
    height: 100vh !important;
    width: auto;
    text-align: center;
}