.navbar-brand img{
    width: 50px !important;
    height auto !important;
}

.jumbotron {
    background-image: url(../images/cupcakes.jpg);
    height: 100vh !important;
    width: auto;
    text-align: center;
<<<<<<< Updated upstream
=======
    padding-top: 350px;
    background-repeat: no-repeat;
>>>>>>> Stashed changes
}

.container {
    padding-top: 50px !important;
}

.standard {
    background-color: #007bff;
}

.standard a {
    color: white !important;
<<<<<<< Updated upstream
}
=======
}

.start {
    background-image: url(../images/ingredients.jpg);
    height: 100vh;
    width: auto;
    text-align: center;
    background-repeat: no-repeat;
}

.start h1 {
    color: white;
}

.tips {
    background-image: url(../images/tips.jpg);
    height: 100vh;
    width: auto;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
}
>>>>>>> Stashed changes
